<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>

		Dear <%= @user_name %>
		<br>
		<br>

		The society bill amount paid status is updated by the below flat owner in GCLife App.
		<br>
		<br>
		Flat owner name: <%= @owner_name %>
		<br>

		Society Name : <%= @society_name %>
		<br>

		Flat Detail :  <%= @avenue_name %> /<%= @building_no %> /<%= @flat_no %>
		<br>

		Bill Amount : <%= @bill_amt %>
		<br>

		Bill Amount Paid : <%= @bill_amt_paid %>
		<br>

		Type of Payment : <%= @payment_type %>
		<br>

		Narration: <%= @Narration %>
		<br>
		<br>

		Please click on below link to view payment status.
		<br>
		Admin  -> Bill  -> Bill Management
		<br>
		<br>
		In case of any feedback or issues please feel free to write to us @ feedback@globalcityflatowners.org
		<br>
		<br>
		Together we shall build better GC ecosystem for our future...
		<br>
		<br>
		Thank you on behalf of all.
		<br>
		<br>
		With love

		GCLife Admin Team
	</body>
</html>
