<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
	 <h2>	Dear <%= @user_name.capitalize %>; </h2>

		Congratulation and welcome to Global City Life Mobile App!!<br>

		It is great pleasure to have you in GC life application, Please login and engage closely with your near and

		dear ones even better than before. <br>

		Sign In Email id. <%= @user_email %> <br>

		Mobile Number - <%= @user_mobileno %> <br>

		Society Name - <%= @user_scname %>  <br>

		Flat Detail - <%= @user_buildingNo %>  <%= @user_flatno %>  <br>

		Important - Please log out and login to get access to all modules. In case of any feedback or issues<br>

		please feel free to write to us @ feedback@globalcityflatowners.org.<br>

		Together we shall build better GC ecosystem for our future...<br>

		Thank you on behalf of all.<br>

		With love<br>

		PS : Don’t forgot to log out and login.<br>

		<h4>GC Life Admin Team</h4>

	</body>
</html>
