<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
		<style>
			table {
				border-collapse: collapse;
			}

			table, th, td {
				border: 1px solid black;
			}
		</style>
	</head>
	<body>
		<h2>Dear  <%= @user_name %>;</h2>
		<br>
		<br>

		Your membership registration request for below flat details has been rejected by the society admin
		team.
		<br>
		<br>

		<b>Flat Detail and Approval status:</b>
		<table>
			<tr>
				<td>Avenue </td>
				<td> <%= @user_avenuename %> </td>
			</tr>
			<tr>
				<td> Society Name </td>
				<td> <%= @user_societyName %> </td>
			</tr>
			<tr>
				<td> Building Name </td>
				<td> <%= @user_buildingName %> </td>
			</tr>
			<tr>
				<td> Flat Detail </td>
				<td> <%= @user_flatNumber %> </td>
			</tr>
			<tr>
				<td>Owner Type </td>
				<td> <%= @user_ownertype %> </td>
			</tr>
			<tr>
				<td> Member Type </td>
				<td> <%= @user_membertype %> </td>
			</tr>
			<tr>
				<td> Rejection Reason </td>
				<td> <%= @user_reason %> </td>
			</tr>
			<tr>
				<td> Rejected Date and Time </td>
				<td> <%= @user_date %> </td>
			</tr>
		</table>
		<br>
		<br>
		In case of any feedback or issues, please feel free to write to us @ feedback@globalcityflatowners.org.
		<br>
		<br>
		Together we shall build better GC ecosystem for our future...

		<br>
		<br>
		Thank you on behalf of all.
		<br>
		<br>
		<br>
		Regards
		<br>
		GCLife Admin Team
	</body>
</html>
