<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		Dear <%= @user_name.capitalize %>
		<br>
		<br>

		Congratulation and welcome to Global City Life Mobile App!!
		<br>
		<br>

		It is great pleasure to have you in GC life application, Please login and engage closely with your near and

		dear ones even better than before.
		<br>
		<br>

		Sign In Email id. <%= @user_email %>
		<br>

		Mobile Number - <%= @user_mobileno %>
		<br>

		Society Name - <%= @user_scname %>
		<br>

		Flat Detail - <%= @user_buildingNo %> / <%= @user_flatno %>
		<br>
		<br>

		<b>Important</b> - <span style="text-decoration: underline"> Please log out and login to get access to all modules.</span> In case of any feedback or issues
		<br>

		please feel free to write to us @ feedback@globalcityflatowners.org.
		<br>
		<br>

		Together we shall build better GC ecosystem for our future...
		<br>
		<br>

		Thank you on behalf of all.
		<br>
		<br>

		With love
		<br>
		GC Life Admin Team
		<br>

		PS : Don’t forgot to log out and login.
		<br>
		Terms and Condition :
		<a href="https://docs.google.com/document/d/1-KMtDMQH-vo11BqXd8RXPwiNyh0LJpXnDbpDKRvR4BE/edit?usp=sharing"> https://docs.google.com/document/d/1-KMtDMQH-vo11BqXd8RXPwiNyh0LJpXnDbpDKRvR4BE/edit?usp=sharing </a>

	</body>
</html>
