<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
	 <h2>	Dear <%= @user_name %>; </h2>

		Congratulation and welcome to Global City Life Mobile App!!

		It is great pleasure to have you in GC life application, Please login and engage closely with your near and

		dear ones even better than before.

		Sign In Email id. <%= @user_email %>;  

		Mobile Number - <%= @user_mobileno %> 

		Society Name - <%= @user_scname %>  

		Flat Detail - <%= @user_buildingNo %>  <%= @user_flatno %> 

		Important - Please log out and login to get access to all modules. In case of any feedback or issues

		please feel free to write to us @ feedback@globalcityflatowners.org.

		Together we shall build better GC ecosystem for our future...

		Thank you on behalf of all.

		With love

		PS : Don’t forgot to log out and login.

		<h4>GC Life Admin Team</h4>

	</body>
</html>
