<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @gclife_registration.user_id %>
</p>

<p>
  <strong>Mobileno:</strong>
  <%= @gclife_registration.mobileno %>
</p>

<p>
  <strong>Fullname:</strong>
  <%= @gclife_registration.fullname %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @gclife_registration.gender %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @gclife_registration.dob %>
</p>

<p>
  <strong>Emergencycontact:</strong>
  <%= @gclife_registration.emergencycontact %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @gclife_registration.occupation %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @gclife_registration.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @gclife_registration.address2 %>
</p>

<p>
  <strong>Locationcode:</strong>
  <%= @gclife_registration.locationcode %>
</p>

<p>
  <strong>Statecode:</strong>
  <%= @gclife_registration.statecode %>
</p>

<p>
  <strong>Countrycode:</strong>
  <%= @gclife_registration.countrycode %>
</p>

<p>
  <strong>Pincode:</strong>
  <%= @gclife_registration.pincode %>
</p>

<p>
  <strong>Activeflag:</strong>
  <%= @gclife_registration.activeflag %>
</p>

<%= link_to 'Edit', edit_gclife_registration_path(@gclife_registration) %> |
<%= link_to 'Back', gclife_registrations_path %>
