<p id="notice"><%= notice %></p>

<p>
  <strong>Societyname:</strong>
  <%= @society_master.societyname %>
</p>

<p>
  <strong>Association:</strong>
  <%= @society_master.association_id %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @society_master.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @society_master.address2 %>
</p>

<p>
  <strong>Locationcode:</strong>
  <%= @society_master.locationcode %>
</p>

<p>
  <strong>Citycode:</strong>
  <%= @society_master.citycode %>
</p>

<p>
  <strong>Districcode:</strong>
  <%= @society_master.districcode %>
</p>

<p>
  <strong>Statecode:</strong>
  <%= @society_master.statecode %>
</p>

<p>
  <strong>Countrycode:</strong>
  <%= @society_master.countrycode %>
</p>

<p>
  <strong>Pincode:</strong>
  <%= @society_master.pincode %>
</p>

<p>
  <strong>Activeflag:</strong>
  <%= @society_master.activeflag %>
</p>

<%= link_to 'Edit', edit_society_master_path(@society_master) %> |
<%= link_to 'Back', society_masters_path %>
