<p id="notice"><%= notice %></p>

<p>
  <strong>Gclifeid:</strong>
  <%= @gclife_registration_flatdetail.gclifeid %>
</p>

<p>
  <strong>Societyid:</strong>
  <%= @gclife_registration_flatdetail.societyid %>
</p>

<p>
  <strong>Buildingid:</strong>
  <%= @gclife_registration_flatdetail.buildingid %>
</p>

<p>
  <strong>Ownertypeid:</strong>
  <%= @gclife_registration_flatdetail.ownertypeid %>
</p>

<p>
  <strong>Membertypeid:</strong>
  <%= @gclife_registration_flatdetail.membertypeid %>
</p>

<p>
  <strong>Relationshipid:</strong>
  <%= @gclife_registration_flatdetail.relationshipid %>
</p>

<p>
  <strong>Tenurestart:</strong>
  <%= @gclife_registration_flatdetail.tenurestart %>
</p>

<p>
  <strong>Tenureend:</strong>
  <%= @gclife_registration_flatdetail.tenureend %>
</p>

<%= link_to 'Edit', edit_gclife_registration_flatdetail_path(@gclife_registration_flatdetail) %> |
<%= link_to 'Back', gclife_registration_flatdetails_path %>
