<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
   <%= f.label :event_type %><br>
   <%= f.select :event_type, @eventtype %>
  </div>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :sdesc %><br>
    <%= f.text_field :sdesc %>
  </div>
  <div class="field">
    <%= f.label :bdesc %><br>
    <%= f.text_field :bdesc %>
  </div>
  
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :association_id %><br>
    <%= f.number_field :association_id %>
  </div>
  <div class="field">
    <%= f.label :society_id %><br>
    <%= f.number_field :society_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
