<p id="notice"><%= notice %></p>

<p>
  <strong>Associationname:</strong>
  <%= @association_master.associationname %>
</p>

<p>
  <strong>Township:</strong>
  <%= @association_master.township_id %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @association_master.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @association_master.address2 %>
</p>

<p>
  <strong>Locationcode:</strong>
  <%= @association_master.locationcode %>
</p>

<p>
  <strong>Citycode:</strong>
  <%= @association_master.citycode %>
</p>

<p>
  <strong>Districcode:</strong>
  <%= @association_master.districcode %>
</p>

<p>
  <strong>Statecode:</strong>
  <%= @association_master.statecode %>
</p>

<p>
  <strong>Countrycode:</strong>
  <%= @association_master.countrycode %>
</p>

<p>
  <strong>Pincode:</strong>
  <%= @association_master.pincode %>
</p>

<p>
  <strong>Activeflag:</strong>
  <%= @association_master.activeflag %>
</p>

<%= link_to 'Edit', edit_association_master_path(@association_master) %> |
<%= link_to 'Back', association_masters_path %>
