<%= form_for(@facilitator_society_master) do |f| %>
  <% if @facilitator_society_master.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@facilitator_society_master.errors.count, "error") %> prohibited this facilitator_society_master from being saved:</h2>

      <ul>
      <% @facilitator_society_master.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :society_id %><br>
    <%= f.text_field :society_id %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :facilitatorname %><br>
    <%= f.text_field :facilitatorname %>
  </div>
  <div class="field">
    <%= f.label :mobilenumber %><br>
    <%= f.number_field :mobilenumber %>
  </div>
  <div class="field">
    <%= f.label :mobilenumber2 %><br>
    <%= f.number_field :mobilenumber2 %>
  </div>
  <div class="field">
    <%= f.label :emailid %><br>
    <%= f.text_field :emailid %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :pincode %><br>
    <%= f.text_field :pincode %>
  </div>
  <div class="field">
    <%= f.label :activeflag %><br>
    <%= f.text_field :activeflag %>
  </div>
  <div class="field">
    <%= f.label :createdby %><br>
    <%= f.text_field :createdby %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
