<p id="notice"><%= notice %></p>

<p>
  <strong>Society:</strong>
  <%= @facilitator_society_master.society_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @facilitator_society_master.category %>
</p>

<p>
  <strong>Facilitatorname:</strong>
  <%= @facilitator_society_master.facilitatorname %>
</p>

<p>
  <strong>Mobilenumber:</strong>
  <%= @facilitator_society_master.mobilenumber %>
</p>

<p>
  <strong>Mobilenumber2:</strong>
  <%= @facilitator_society_master.mobilenumber2 %>
</p>

<p>
  <strong>Emailid:</strong>
  <%= @facilitator_society_master.emailid %>
</p>

<p>
  <strong>Location:</strong>
  <%= @facilitator_society_master.location %>
</p>

<p>
  <strong>City:</strong>
  <%= @facilitator_society_master.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @facilitator_society_master.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @facilitator_society_master.country %>
</p>

<p>
  <strong>Pincode:</strong>
  <%= @facilitator_society_master.pincode %>
</p>

<p>
  <strong>Activeflag:</strong>
  <%= @facilitator_society_master.activeflag %>
</p>

<p>
  <strong>Createdby:</strong>
  <%= @facilitator_society_master.createdby %>
</p>

<%= link_to 'Edit', edit_facilitator_society_master_path(@facilitator_society_master) %> |
<%= link_to 'Back', facilitator_society_masters_path %>
