<h1>Listing important_contacts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phno</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @important_contacts.each do |important_contact| %>
      <tr>
        <td><%= important_contact.name %></td>
        <td><%= important_contact.phno %></td>
        <td><%= important_contact.email %></td>
        <td><%= link_to 'Show', important_contact %></td>
        <td><%= link_to 'Edit', edit_important_contact_path(important_contact) %></td>
        <td><%= link_to 'Destroy', important_contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Important contact', new_important_contact_path %>
