<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @event_comment.event_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @event_comment.user_id %>
</p>

<p>
  <strong>Username:</strong>
  <%= @event_comment.username %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @event_comment.comment %>
</p>

<%= link_to 'Edit', edit_event_comment_path(@event_comment) %> |
<%= link_to 'Back', event_comments_path %>
