<h1>Listing eventimages</h1>

<table>
  <thead>
    <tr>
      <th>Image url</th>
      <th>Event</th>
      <th>Image type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eventimages.each do |eventimage| %>
      <tr>
        <td><%= eventimage.image_url %></td>
        <td><%= eventimage.event_id %></td>
        <td><%= eventimage.image_type %></td>
        <td><%= link_to 'Show', eventimage %></td>
        <td><%= link_to 'Edit', edit_eventimage_path(eventimage) %></td>
        <td><%= link_to 'Destroy', eventimage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Eventimage', new_eventimage_path %>
