<p id="notice"><%= notice %></p>

<p>
  <strong>Townshipname:</strong>
  <%= @township_master.townshipname %>
</p>

<p>
  <strong>Activeflag:</strong>
  <%= @township_master.activeflag %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @township_master.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @township_master.address2 %>
</p>

<p>
  <strong>Locationcode:</strong>
  <%= @township_master.locationcode %>
</p>

<p>
  <strong>Citycode:</strong>
  <%= @township_master.citycode %>
</p>

<p>
  <strong>Districtcode:</strong>
  <%= @township_master.districtcode %>
</p>

<p>
  <strong>Satecode:</strong>
  <%= @township_master.satecode %>
</p>

<p>
  <strong>Countrycode:</strong>
  <%= @township_master.countrycode %>
</p>

<p>
  <strong>Pincode:</strong>
  <%= @township_master.pincode %>
</p>

<%= link_to 'Edit', edit_township_master_path(@township_master) %> |
<%= link_to 'Back', township_masters_path %>
