<p id="notice"><%= notice %></p>

<p>
  <strong>Membertype:</strong>
  <%= @member_type.membertype %>
</p>

<p>
  <strong>Activeflag:</strong>
  <%= @member_type.activeflag %>
</p>

<%= link_to 'Edit', edit_member_type_path(@member_type) %> |
<%= link_to 'Back', member_types_path %>
